<tr class="<%= cycle('even', 'odd') %>" id="article_<%= article.id %>">
  <td class="title">
    <%= link_to(h(article.title).gsub(' ', ' <wbr />'), task_article_path(task, article), :class => 'article-link') %>
       <ul class="actions">
         <li><%= link_to('купить статью', buy_task_article_path(task, article), 
                 :class => 'buy-article-link', :rel => 'nofollow') %> </li>
       </ul>
  </td>
  <td class="author"><%= link_to(article.author.login, user_path(article.author), :class => 'user-link') %></td>
  <td class="price"><%= formatted_article_price(article) %></td>
  <td class="length"><%= formatted_article_length(article) %></td>
  <td class="time"><%= formatted_article_time(article) %></td>
</tr>
