<% sender = proposition.sender %>

<li class="proposition <%= proposition.assigned? ? 'assigned' : '' %>" 
    id="proposition_<%= proposition.to_param %>">
  <p class="proposition-sender">
    <%= link_to(sender.login, user_path(sender), :class => 'user-link') %>	
    <%= time_ago_in_words(sender.created_at) %> в сервисе, заявка сделана 
    <%= time_ago_in_words(proposition.created_at) %> назад
  </p>
  <p class="proposition-body"><%= h(proposition.body) %></p>

  <ul class="actions">
    <li><%= link_to('сообщение', '#', :class => 'send-message-link') %></li>
    <li>

    <% if proposition.assigned? %>
      <%= link_to('отменить выбор', assign_task_path(task, proposition), :class => 'put deassign-link',
                  :title => 'Отменить передачу заказа автору этой заявки?') %>
    <% else %>
      <%= link_to('выбрать', assign_task_path(task, proposition), :class => 'put assign-link',
                  :title => 'Доверить выполнение заказа автору заявки?') %>
    <% end %>

    </li>
  </ul>
</li>
