<% if task.nil? %>
  <li class="task">Заказ удален</li>
<% else %>
  <li class="task" id="task_<%= task.to_param %>">
    <h2><%= h(task.name) %></h2>
    <p class="about-task">
      <strong>$<%= task.price %></strong> за тысячу знаков, размещен <%= time_ago_in_words(task.created_at) %> назад
    </p>
    <%= render :partial => 'task_actions', :locals => {:task => task} %>
    <p><%= h(task.body) %> </p>
    <% if task.copywriter %>
      <p class="about-task" id="copywriter_for_<%= task.id %>">Для этого заказа Вы уже выбрали исполнителя - 
         <%= link_to(task.copywriter.login, user_path(task.copywriter), :class => 'user-link') %></p>
    <% end %>
    <%= propositions_link(task) %>
    <% unless task.articles.blank? %>
    <table class="articles">
    <thead><tr>
      <th>Название</th>
      <th>Автор</th>
      <th>Цена</th>
      <th>Объем</th>
      <th>Дата</th>      
    </tr></thead>
    <tbody>
    <% task.articles.each do |article| %>
      <%= render :partial => 'article_user_row', :locals => {:task => task, :article => article} %>
    <% end %>
    </tbody>
    </table>
    <% end %>
  </li>
<% end %>
