<%= yield_authenticity_token %>
<%= javascript_include_tag 'jquery-1.3.min' %>
<%= javascript_include_tag 'application' %>

<% RuTils::overrides = true %>

<h1 class="tasks-group">Вы заказали написать</h1> 

<ol id="my-tasks">
<% if @my_tasks.blank? %>
  <li class="task">
    Здесь Вы сможете следить за заявками от копирайтеров на выполнение Ваших заказов.
    Получить статью от копирайтера можно либо добавив <%= link_to('новый заказ', new_task_path) %> в систему, либо
    купив понравившуюся статью в <a href="#">каталоге</a>.
  </li>
<% else %>
    <%= render :partial => 'task', :collection => @my_tasks %>
<% end %>
</ol>
