<% @title = 'Заказ и заявки на него' %>

<%= yield_authenticity_token %>
<%= javascript_include_tag 'jquery-1.3.min' %>
<%= javascript_include_tag 'application' %>

<% RuTils::overrides = true %>

<ol id="task_<%= @task.to_param %>">
  <h1><%= h(@task.name) %></h1>
  <p class="about-task">
    <strong>$<%= @task.price %></strong> за тыс. знаков, добавлен <%= time_ago_in_words(@task.created_at) %> назад
  </p>
  <p class="task-body"><%= h(@task.body) %></p>
  <%= render :partial => 'task_actions', :locals => {:task => @task} %>
</ol>

<% if @propositions.blank? %>
<ol id="propositions">
<li class="proposition">Копирайтеры еще не сделали заявок на этот заказ.</li>
</ol>
<% else %>
<ol id="propositions">
  <%= render :partial => 'proposition', :collection => @propositions, :locals => {:task => @task} %>
</ol>
<% end %>
