<% if article.nil? %>
  <tr class="highlighted">
  <td class="title">Статья удалена</td>
  <td class="price">&nbsp;</td><td class="length">&nbsp;</td><td class="time">&nbsp;</td>
  </tr>
<% else %>

<tr class="<%= cycle('even', 'odd') %>" id="article_<%= article.id %>">
  <td class="title">
    <%= link_to(article.category_name, category_path(article.category_url_name), :class => 'category-link') %>
    <br />
    <%= link_to(h(article.title).gsub(' ', ' <wbr />'), article_path(article), :class => 'article-link') %>

     <% if (logged_in? && article.author_id == current_user.id) %>
       <ul class="actions">
         <li><%= link_to('удалить', article_path(article), :class => 'delete delete-link',
                         :title => 'Вы уверены, что хотите удалить эту статью?') %></li>
         <li><%= link_to('редактировать', edit_article_path(article), :class => 'edit-link',
	                 :rel => 'nofollow') %></li>
       </ul>
     <% end %>

  </td>
  <td class="price">
    <%= number_to_currency(article.price, :format => '%n<br />WMZ', :separator => ',', :delimiter => '') %>
  </td>
  <td class="length"><%= sprintf('%.1f', article.length / 1000.0).gsub('.', ',') %> тыс.<br />знаков</td>
  <td class="time"><%= time_ago_in_words(article.created_at).gsub('около ', 'около<br />') %><br />назад</td>
</tr>

<% end %>
