<% @title = 'Публикация новой статьи на продажу' %>

<%= javascript_include_tag 'jquery-1.3.min' %>
<%= javascript_include_tag 'jquery.multifile' %>
<%= javascript_include_tag 'article_new' %>

<h1>Публикация новой статьи на продажу</h1>

<% dived_form_for @article, :html => {:multipart => true, :class => 'new-form'} do |f| %>
  <%= f.text_field_for :title, :label => 'Название статьи',
                               :bottom => 'название, которое будет занесено в каталог' %>

  <div class="select-div" id="categories">
    <label for="category"><span>Категория</span></label>
    <select name="category_id">
    <% @catalog.each do |section, categories| %>
      <% state = (params[:category_id] == section.id.to_s) ? 'selected' : ''%>
      <option value="<%= section.id %>" class="section" <%= state %> ><%= h(section.name) %></option>
      <% categories.each do |category| %>
        <% state = (params[:category_id] == category.id.to_s) ? 'selected' : ''%>
        <option value="<%= category.id %>" class="category" <%= state %> ><%= h(category.name) %></option>
      <% end %>
    <% end %>
    </select>
  </div>
  <%= f.text_field_for :tags_text, :label => 'Ключевые слова',
	                           :bottom => 'отдельные тэги разделяются запятыми',
              	 		   :div_id => 'tags-div',
  			           :default => '' %>
  <%= f.text_field_for :price, :label => 'Цена статьи',
                               :bottom => 'указывается в WMZ только если статья на продажу',
                               :div_id => 'price-div' %>

  <%= f.text_area_for :body, :label => 'Текст статьи', 
                             :bottom => 'размер статьи ограничен 5-тью тысячами знаков' %>
  <div class="upload-div">
    <label for="pics"><span>Иллюстрации</span></label>
    <%= file_field_tag 'article[pic][]', :id => 'pic' %>
  </div>
  <%= f.submit_tag 'Добавить статью' %>
<% end %>
