<% @title = 'Рейтинг пользователей' %>

<% RuTils::overrides = true %>

<h1>Рейтинг пользователей</h1>
<% if @users.blank? %>
  <p class="about">У нас еще не зарегистрировался ни один пользователь.</p>
<% else %>
<table class="users">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th><%= link_to('Отзывы', users_path) %></th>
    <th><%= link_to('В сервисе', users_path) %></th>  
    <th><%= link_to('В продаже', users_path) %></th>
    <th><%= link_to('Приобрел', users_path) %></th>
  </tr>
  </thead>
  <tbody>
<% @users.each do |user| %>
  <tr class="<%= cycle('even', 'odd') -%>">
    <td class="user-login">
      <%= personal_page_link_for(user) %>
    </td>
    <td class="user-rating"><i>+10</i><br /><b>-20</b></td>
    <td>
      <%= time_ago_in_words(user.created_at) %>
    </td>
    <td>
      <%= forsale_articles_for(user) %>
    </td>
    <td>не покупал<br />статей</td>
  </tr>
<% end %>
  </tbody>
</table>

<%= will_paginate(@users, :previous_label => 'Предыдущая страница', :next_label => 'Следующая страница')%>
<% end %>
