<% @title = "Личная страница #{@user.login}" %>

<%= yield_authenticity_token %>
<%= javascript_include_tag 'jquery-1.3.min' %>
<%= javascript_include_tag 'application' %>

<% RuTils::overrides = true %>

<h1>
<% if my_personal_page? %>
  Это Ваша персональная страница
<% else %>
  Личная страница пользователя <%= @user.login %>
<% end %>
</h1>

<% unless my_personal_page? %>
<p class="about">
    Последний раз этот пользователь обращался к системе <span><%= time_ago_in_words(@user.last_login_at) %></span> назад.
</p>
<% end %>


<% unless (! logged_in?) || my_personal_page? %>
  <p class="about">
    Вы можете <%= link_to("написать личное сообщение", message_path(@user.id), :class => 'send-message-link') %> 
    этому пользователю.
  </p>
<% end %>

<p class="about">
  За <span><%= time_ago_in_words(@user.created_at) %></span> в сервисе 
  <%= my_personal_page? ? 'Вы купили' : 'этот пользователь купил' %>
  у других пользователей <span></span>.
</p>
<p class="about">
  Заказчики оставили 
  <% if my_personal_page? %> Вам <% else %> ему <% end %>
  <a href="#" class="yellow">5&nbsp;положительных отзывов</a> и 
  <a href="#" class="yellow">10&nbsp;отрицательных отзывов</a>.
</p>
<% if @articles.blank? %>
  <p class="about">
    <%= my_personal_page? ? 'Вы еще не выставляли' : 'Этот пользователь еще не выставлял' %> статьи на продажу.
  </p>
<% else %>
  <h2 class="about">
    <%= my_personal_page? ? 'Вы разместили' : 'Этот пользователь разместил' %>
    <%= @user.forsale_articles_count %> <%= @user.forsale_articles_count.items('статью', 'статьи', 'статей') %> 
    в каталог на продажу:
  </h2>
  <table class="articles">
    <thead><tr>
    <% Article::COLUMNS[:user].each do |column, link_text| %>
        <th>
          <%= sort_link(@order, @dir, column, link_text) %>
        </th>
    <% end %>
    </tr><thead>
    <tbody>
    <% @articles.each do |article| %>
      <%= render :partial => 'article_row',  :locals => {:article => article} %>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate(@articles, :previous_label => 'Предыдущая страница', :next_label => 'Следующая страница') %>
<% end %>
